<div class="menu">
	<div class="name">ember-pdfjs</div>
	<div class="link"><a href="https://github.com/abcum/ember-pdfjs">github.com</a></div>
	<div class="line"></div>
	<div class="sect">
		<div class="link">{{#link-to "index"}}Introduction{{/link-to}}</div>
		<div class="link">{{#link-to "pdfjs"}}PDF.js{{/link-to}}</div>
	</div>
</div>

<div class="main">
	{{outlet}}
</div>