<div class="body">

	<h1>Introduction</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent luctus sem tellus, at ullamcorper nulla hendrerit et. Etiam et urna non nisl rutrum molestie ut sed justo. Mauris in massa tellus. Praesent aliquet est in nisi laoreet venenatis. Sed posuere velit hendrerit massa auctor, in varius diam mollis. Praesent viverra lacus justo, blandit laoreet purus varius nec. Donec egestas tortor vel est suscipit faucibus.
		<br><br>
		Vestibulum commodo ullamcorper ex vel pretium. Aliquam risus lacus, aliquam vitae sem id, consectetur iaculis lectus. Etiam urna nibh, tristique vel urna quis, dictum porta eros. In mi libero, elementum vel lectus sed, tristique imperdiet mauris. Morbi sit amet lorem vulputate, lobortis ligula ut, malesuada nunc. Phasellus ultricies lorem in egestas sagittis. Sed sed placerat dolor, a luctus ipsum. Etiam suscipit diam risus, vel auctor nisi finibus ac. Integer odio neque, gravida id ornare a, molestie id nibh.
	</p>

	<h2>Installation</h2>

	{{code-snippet name='install.sh'}}

	<div class="area size-900">
		{{pdf-view page=1 url='/test.pdf'}}
	</div>

</div>